.banner{
    width: 1100px;
    height: 200px;
}

.espaciador{
    padding-top: 2em;
}

.idModal{
    display: block;
}

.btnEliminar{
    margin-left: 2em;
}

.file{
    padding: 2px;
    margin-left: 1em;
}